*{
    margin: 0px;
    font-family: 'verdana';
}

#logodnc{
  margin-top: 55px;
   margin-left: 50px;
   
}

#titulo-menusuperior{
    margin-left: 150px;
    margin-top: 50px;
}

#paragrafo-menusuperior{
    margin-left: 150px;
    margin-top: 55px;
    padding-bottom: 50px;
}

#menu-superior{
    background-image: url(imagens/fundologodnc.svg);
    background-size: cover;
    color: aliceblue;   
}

#menu-informacional{
   background-color: #EAECE5;
   display: grid;
   grid-auto-flow: column;
   columns: auto;
   
 } 
.icone{
    padding: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.textoinformativo{
    display:flex;
    align-items: center;
}
#titulovideo{
    color: rgb(36, 123, 160);
    margin-top: 50px;
}
#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
}

#titulocarrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#divcards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.card{
    
    margin-left: 50px;
    padding-top: 35px;
}

#setaesquerda{
    display: none;
    margin-top: 80px;
 
}

#cardbruna{
    display: none;
}

.setas{
    align-items: center;
    cursor: pointer;
   
}

.setas:hover{
    transform: translateY(-7px);
    transition-duration: 0,8s;
}

#setadireita{
    margin-top: 55px;
}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

#formulario{
    text-align: center;
}

input{
    width:300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-6px);
    box-shadow: 0px 15px 20px #05113179;
    transition-duration: 0.5s;
}
